.root {
  @apply text-accent-0 bg-secondary;
}

.bgOverlay {
  @apply w-screen h-[50vh] md:h-[70vh] lg:h-[90vh] flex relative mb-6 lg:mb-8;
}

.bgOverlay::after {
  @apply bg-gradient-to-r from-primary opacity-70;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bannerContainer {
  @apply container max-w-md md:max-w-2xl lg:max-w-3xl flex flex-col absolute top-14 md:top-16 left-16 md:left-32;
  z-index: 2;
}

.h2 {
  @apply text-accent-0 font-extrabold text-5xl uppercase;
  line-height: 0.9em;
}

@media (min-width: 768px) {
  .h2 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .h2 {
    font-size: 6.5rem;
  }
}

.h2 span {
  @apply text-secondary;
}

.p {
  @apply text-accent-0 text-lg md:text-xl lg:text-3xl my-2 md:my-4 lg:my-6;
}

.button {
  @apply text-accent-0 my-2 md:my-4 lg:my-6 max-w-[10rem];
}
