.root {
  @apply relative grid items-start gap-4 grid-cols-1 overflow-x-hidden p-8;
  min-height: auto;
}

.main {
  @apply relative px-0 pb-0 box-border flex flex-col col-span-1;
  min-height: 500px;
}

.sidebar {
  @apply flex flex-col col-span-1 mx-auto max-w-8xl px-6 py-6 w-full h-full;
}

.sliderContainer {
  @apply flex items-center justify-center overflow-x-hidden;
}

.imageContainer {
  @apply text-center h-full relative;
}

.imageContainer > span {
  height: 100% !important;
}

.sliderContainer .img {
  @apply w-full h-full max-h-full object-cover;
}

.button {
  width: 100%;
}

.buySection {
  @apply my-20;
}

.sectionHeading {
  @apply text-center text-3xl my-4;
}

.buyCards {
  @apply flex flex-wrap justify-center gap-4 my-8 mx-auto max-w-4xl;
}

.buyCard {
  @apply text-center flex flex-col gap-4 outline-1 outline-secondary outline min-w-[10rem];
}

.ticketsNo {
  @apply uppercase font-bold text-6xl;
}

.tickets {
  @apply text-lg uppercase font-bold;
}

.btn {
  @apply block py-4 px-6 text-2xl;
}

.relatedProductsGrid {
  @apply grid grid-cols-2 py-2 gap-2 md:grid-cols-4 md:gap-7;
}

@screen lg {
  .root {
    @apply grid-cols-12;
  }

  .main {
    @apply mx-0 col-span-8;
  }

  .sidebar {
    @apply col-span-4 py-6;
  }

  .imageContainer {
    max-height: 600px;
  }
}
